<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <p class="view"><a href="https://github.com/{{ site.github.repository_nwo }}">View My GitHub Profile</a></p>
        <p><strong>📧</strong> <a href="mailto:tanyanaheta@gmail.com">tanyanaheta@gmail.com</a></p>
        <p><strong>🔗</strong> <a href="https://www.linkedin.com/in/tanya-naheta/" target="_blank">LinkedIn Profile</a></p>
        <p><strong>📄</strong> <a href="/resume.pdf" target="_blank">View Resume</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p>This site is powered by <a href="https://pages.github.com">GitHub Pages</a>.</p>
      </footer>
    </div>
  </body>
</html>